<div id="navbar2">
	<div class="navbar-container">
		<% link_to "/restaurant.html" do %>
			<%= image_tag "logo-text-blue.svg", class: "img-responsive" %>
		<% end %>
		<div class="navbar-container-right">
			<%= link_to "La cuisine", "/cuisine.html", class: "hvr-overline-reveal"%>
			<%= link_to "Le restaurant", "/restaurant.html",class: "hvr-overline-reveal" %>
			<%= link_to "Photos", "/galerie.html",class: "hvr-overline-reveal" %>
			<%= link_to "Contact", "/contact.html",class: "hvr-overline-reveal" %>
			<a href="/reservation.html" class="btn-navbar hvr-hollow">Réserver</a>
		</div>
	</div>
</div>