<div id="navbar">
	<div class="navbar-container">
		<% link_to "#screen1" do %>
			<%= image_tag "logo-text-blue.svg", class: "img-responsive" %>
		<% end %>
		<div class="navbar-container-right hidden-xs">
			<%= link_to "La cuisine", "#banner-2", class: "hvr-overline-reveal"%>
			<%= link_to "Le restaurant", "#banner-3",class: "hvr-overline-reveal" %>
			<%= link_to "Photos", "#gallery",class: "hvr-overline-reveal" %>
			<%= link_to "Contact", "#reservation",class: "hvr-overline-reveal" %>
			<a href="#" class="btn-navbar hvr-hollow" data-toggle="modal" data-target="#modal-resa">Réserver</a>
		</div>
		<div class="navbar-dropdown visible-xs">
			<i class="fa fa-bars dropdown-toggle" id="menu-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
		  <ul class="dropdown-menu" aria-labelledby="menu-dropdown">
		    <li>
		    	<%= link_to "La cuisine", "#banner-2"%>
		    </li>
		    <li>
		    	<%= link_to "Le restaurant", "#banner-3"%>
		    </li>
		    <li>
		    	<%= link_to "Photos", "#gallery"%>
		    </li>
		    <li>
		    	<%= link_to "Contact", "#reservation"%>
		    </li>
		    <li>
		    	<a href="#" class="btn-navbar hvr-hollow" data-toggle="modal" data-target="#modal-resa">Réserver</a>
		    </li>
		    	    
		  </ul>
		</div>

	</div>
</div>