<div id="navbar2">
	<div class="navbar-container">
		<% link_to "/restaurant.html" do %>
			<%= image_tag "logo-text-blue.svg", class: "img-responsive" %>
		<% end %>
		<div class="navbar-container-right">
			<%= link_to "La cuisine", "/cuisine.html", class: "hvr-overline-reveal"%>
			<%= link_to "Le restaurant", "/restaurant.html",class: "hvr-overline-reveal" %>
			<%= link_to "Photos", "/galerie.html",class: "hvr-overline-reveal" %>
			<%= link_to "Contact", "/contact.html",class: "hvr-overline-reveal" %>
			<a href="#" class="btn-navbar hvr-hollow" data-toggle="modal" data-target="#modal-resa">Réserver</a>
		</div>
	</div>
</div>

<div id="modal-resa" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-imgLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
				<iframe src="http://lareserve.io/restaurants/39/bookings/new_web" width="650" height="550" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>